{{> sidebar }}

<div class="dashboard-layout">
	
		<div class="company-info company-settings">
		<h5>Company settings</h5>

		<div class="upload-image">
			<div class="upload-image__img" style="background-image: url('../../assets/toolkit/images/014-company.svg')"></div>
		</div>

		<label class="create-job__input--label"><span class="create-job__input--span">Company name</span>
      <input class="input" type="email" placeholder="Type your company name">
    </label>

    <label class="create-job__input--label"><span class="create-job__input--span">Company email</span>
      <input class="input" type="email" placeholder="Your Email here">
    </label>

    <label class="create-job__input--label"><span class="create-job__input--span">Company website</span>
      <input class="input" type="email" placeholder="Company website">
    </label>

		<div>
			<button class="button blue">Save changes</button>
		</div>
	</div>

</div>
