{{> header }}

<div class="create-job__layout">
	<h4>Create job</h4>

	<div class="create-job">
		<h5>Your position</h5>

		<div class="create-job__input">
			<label class="create-job__input--label"><span class="create-job__input--span">Position</span>
        <input class="input" type="email" placeholder="Software engineer, mobile application developer...">
      </label>

      <label class="create-job__input--label"><span class="create-job__input--span">JOB DESCRIPTION</span>
        <textarea name="" id="" cols="30" rows="10" style="height: 134px; width: 422px;"></textarea >
      </label>

      <label class="create-job__input--label"><span class="create-job__input--span">Location</span>
        <input class="input" type="email" placeholder="Location of the job">
        <label class="checkbox-container">
				  <input type="checkbox" checked="checked">
				  <span class="checkmark"></span>
				  <p>Remote/anywhere</p>
				</label>
      </label>

      <label class="create-job__input--label"><span class="create-job__input--span">Salary</span>
        <input class="input" type="email" placeholder="Type the salary here">
      </label>

			<label class="create-job__input--label less-margin"><span class="create-job__input--span">Job type</span></label>
      <div class="create-job__checkbox">
				<label class="radio-container">
				  <input type="radio" checked="checked" name="radio">
				  <span class="checkmarked">
					  <p>Full time</p>
					</span>
				</label>
				<label class="radio-container">
				  <input type="radio" checked="checked" name="radio">
				  <span class="checkmarked">
					  <p>Part-time</p>
				  </span>
				</label>
				<label class="radio-container">
				  <input type="radio" checked="checked" name="radio">
				  <span class="checkmarked">
					  <p>Freelance</p>
				  </span>
				</label>
				<label class="radio-container">
				  <input type="radio" checked="checked" name="radio">
				  <span class="checkmarked">
					  <p>Contract</p>
				  </span>
				</label>
			</div>

			<label class="create-job__input--label"><span class="create-job__input--span">Apply url</span>
        <input class="input" type="email" placeholder="Where people can apply">
        <label class="checkbox-container">
				  <input type="checkbox" checked="checked">
				  <span class="checkmark"></span>
				  <p class="checkmark-text">Make my job vacancy featured for 7 days ( +99$) <span class="new blue"><img src="{{image 'blue-star.svg'}}" alt="">Featured</span></p>
				</label>
      </label>
		</div>
	</div>

	<span class="line"></span>	

	<div class="company-info">
		<h5>Company info</h5>

		<div class="upload-image">
			<div class="upload-image__img" style="background-image: url('../../assets/toolkit/images/014-company.svg')"></div>
		</div>

		<label class="create-job__input--label"><span class="create-job__input--span">Company name</span>
      <input class="input" type="email" placeholder="Type your company name">
    </label>

    <label class="create-job__input--label"><span class="create-job__input--span">Company email</span>
      <input class="input" type="email" placeholder="Your Email here">
    </label>

    <label class="create-job__input--label"><span class="create-job__input--span">Company website</span>
      <input class="input" type="email" placeholder="Company website">
    </label>

    <label class="create-job__input--label"><span class="create-job__input--span">Company card</span>   
			<form action="/charge" method="post" id="payment-form">
			  <div class="form-row">
			    <div id="card-element">
			      <!-- A Stripe Element will be inserted here. -->
			    </div>

			    <!-- Used to display form errors. -->
			    <div id="card-errors" role="alert"></div>
			  </div>
			</form>
    </label>

		<div class="text-center">
			<button class="button blue">Post this job</button>
		</div>
	</div>
	
</div>





