{{> header }}

<div class="inside-page">
	<div class="inside-page__container">
		<div class="inside-page__content">
			<div class="inside-page__card">
				<div class="flex">
				<div class="card__logo" style="background-image: url('https://imageog.flaticon.com/icons/png/512/37/37150.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF')"></div>
				<div class="card-data">
					<div class="card-data__title"><a href="#" class="card-data__title">Mobile Developer</a></div>
					<div class="card-data__subtitle"><a href="#" class="card-data__subtitle">Apple Inc</a></div>
					<div class="card-data__info">
						<p><img src="{{image 'gray-placeholder.svg'}}" alt="">London, United Kingdom</p>
						<p><img src="{{image 'gray-portfolio.svg'}}" alt="">Full time</p>
						<a href="#"><img src="{{image 'grid-world.svg'}}" alt="">Company website</a>
					</div>
				</div>
				</div>

				<div class="card__button">
					<p class="gray">Posted Jan 24</p>
					<a href="#" class="button blue">Apply for this job</a>
				</div>
			</div>

			<div class="inside-page__description">
				<div class="inside-page__description-part">
					<h4>Responsibilities</h4>
					<p class="gray">Steady, a rapidly growing startup in Downtown Atlanta, is looking for a mobile developer. The mobile Developer will have full technical autonomy to build out the mobile app that connects users with various parties in the Gig Economy. Do you have expertise in developing mobile applications that are very appealing to consumers? If so, this position is a fit for you! </p>
					<ul>
						<li>Define, design, and ship new features</li>
						<li>Work on bug fixing and improving application performance</li>
						<li>Continuously discover, evaluate, and implement new technologies to maximize development efficiency</li>
						<li>Work with the team to develop mobile applications using Xcode or Android Studio.</li>
						<li>Work with designers to ensure the designed interfaces are implemented correctly.</li>
						<li>Write functional and unit tests in order to maintain code quality.</li>
						<li>Perform efficiently in a fast-paced environment</li>
					</ul>
				</div>
				
				<div class="inside-page__description-part">
					<h4>Skills & Requirements </h4>
					<ul>
						<li>Autonomous work style</li>
						<li>Experience with REST APIs and JSON</li>
						<li>Familiarity with code versioning tools, such as Git</li>
						<li>Experience with offline storage</li>
						<li>Strong understanding of interactive touch/gesture interfaces, application development paradigms, memory management, file I/O, and multi-threading</li>
						<li>Degree in Computer Science or Computer Engineering, or equivalent experience</li>
					</ul>
				</div>

			</div>
		</div>
	</div>
</div>