<div class="login">
	{{> header }}

	<div class="login__card">
		<h4>Login</h4>
		<div class="login__card-inputs">
			<label><span>Email</span>
        <input class="input" type="email" placeholder="youremail@domain.com">
      </label>
      <label><span>Password</span>
        <input class="input" type="password" placeholder="Your password here">
      </label>
		</div>
		<button class="button blue">Sign in</button>
		<p>By signing in to your account, you agree to <a href="#">Terms of Service.</a></p>
	</div>
	<p class="login__post">Do you want to post a job? <a href="#" class="button">Post a job</a></p>
</div>
