{{> sidebar }}

<div class="dashboard-layout">
	<div class="dashboard-layout__header flex-column">
		<h4>Payment Card</h4>
		<div class="creditcard">
			<div>
				<h3 class="creditcard__number">**** **** **** 3448</h3>
				<p>Master Card</p>
			</div>
			<div class="creditcard__footer">
				<p>10/2023</p>
				<a href="#" class="button">Edit</a>
			</div>
		</div>
	</div>
		<h4>Invoices</h4>
	<div class="dashboard-layout__hero scroll-x">
		<div class="table-content">
		<table class="unstriped payments-table">
			<thead>
				<tr>
					<td>Date</td>
					<td>Job title</td>
					<td>Credit Card</td>
					<td>Price</td>
					<td>status</td>
					<td>PDF</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>12 Jan 2019</td>
					<td>Mobile Developper</td>
					<td>**** **** **** 4590</td>
					<td class="td-bold">$299</td>
					<td class="td-green">Paid</td>
					<td class="td-blue"><a href="#"><img src="{{image 'pdf-file.svg'}}" alt="">Download pdf</a></td>
				</tr>
				<tr>
					<td>12 Jan 2019</td>
					<td>Mobile Developper</td>
					<td>**** **** **** 4590</td>
					<td class="td-bold">$299</td>
					<td class="td-green">Paid</td>
					<td class="td-blue"><a href="#"><img src="{{image 'pdf-file.svg'}}" alt="">Download pdf</a></td>
				</tr>
				<tr>
					<td>12 Jan 2019</td>
					<td>Mobile Developper</td>
					<td>**** **** **** 4590</td>
					<td class="td-bold">$299</td>
					<td class="td-green">Paid</td>
					<td class="td-blue"><a href="#"><img src="{{image 'pdf-file.svg'}}" alt="">Download pdf</a></td>
				</tr>
				<tr>
					<td>12 Jan 2019</td>
					<td>Android and Ios Developper</td>
					<td>**** **** **** 4590</td>
					<td class="td-bold">$29239</td>
					<td class="">Waiting</td>
					<td class="td-blue"><a href="#"><img src="{{image 'pdf-file.svg'}}" alt="">Download pdf</a></td>
				</tr>
				<tr>
					<td>12 Jan 2019</td>
					<td>Mobile Developper</td>
					<td>**** **** **** 4590</td>
					<td class="td-bold">$299</td>
					<td class="td-green">Paid</td>
					<td class="td-blue"><a href="#"><img src="{{image 'pdf-file.svg'}}" alt="">Download pdf</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
