.card {
	height: 186px;
	border-radius: 6px;
	border: 1px solid #d3d9e5;
	display: flex;
	align-items: center;
	padding: 0px 26px;
	flex-grow: 1;
	margin-right: 22px;
	@include breakpoint(small down) {
		margin-right: 0;
		flex-direction: column;
		height: initial;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

.card__logo {
	min-width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 22px;
  border: 1px solid #d3d8e5;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	@include breakpoint(small down) {
		margin: 0 auto;
		margin-bottom: 15px;
	}
}

.card-data {
	
}

.card-data__subtitle {
	font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
  color: #000000;
  margin-bottom: 15px;
  &:hover {
  	color: #000000;
  }
}

.card-data__title {
	font-size: 24px;
  font-weight: 500;
  line-height: 0.92;
  color: #000000;
	padding-bottom: 35px;
	padding-top: 15px;
	&:hover {
  	color: #000000;
	}
	@include breakpoint(small down) {
		padding-bottom: 10px;
	}
}

.card__button {
	@include breakpoint(small down) {
		text-align: center;
		p {

			margin: 15px 0!important;
		}
	}
}

.card-data__info {
	display: flex;
	align-items: center;
	flex-direction: row;
	@include breakpoint(small down) {
		width: 100%;
		flex-direction: column;
		p, a{
			margin-right: 0;
		}
	}
	a, p {
		font-size: 16px;
	  font-weight: 500;
	  line-height: 1.38;
  	color: #9b9b9b;
		margin-right: 35px;
		img {
			padding-right: 10px;
		}
		@include breakpoint(small down) {
			margin-right: 0;
			padding: 5px 0px;
		}
	}
	a:first-child {
		color: $blue;
		text-decoration: underline;
	}
}