.create-job__layout {
	width: 580px;
	margin: 0 auto;
	padding: 40px 80px;
	h4 {
		text-align: center;
		font-size: 24px;
	}
}

.create-job, .company-info {
	margin-top: 35px;
	h5 {
		font-size: 20px;
	  font-weight: 600;
	  color: #000000;
	  margin-bottom: 20px;	
	}
}

.create-job__input {
	
}

.create-job__input--label {
		margin-bottom: 35px;
		&.less-margin {
			margin-bottom: 8px;
		}
		
	}
.create-job__input--span {
			font-size: 12px;
	    font-family: ApexSans-Bold;
	    padding-bottom: 8px;
			color: #5b5d6e;
			text-transform: uppercase;
			display: inherit;
		}

.checkmark-text {
	span {
		margin-left: 20px;
	}
}


.upload-image {
	margin-bottom: 35px;
}

.upload-image__img {
	width: 120px;
	height: 120px;
  border-radius: 50%;
  background-repeat: no-repeat;
  border: 1px solid #dee3e7;
  background-position: center;
}

.line {
	height: 1px;
	display: block;
	margin: 30px 0px;
	background-color: #d3d9e5;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		height: 1px;
		background-color: #d3d9e5;
		width: 300px;
    left: -200px;
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		height: 1px;
		background-color: #d3d9e5;
		width: 300px;
    right: -200px;
	}
}



