.sidebar {
	width: 261px;
	height: 100vh;
	position: fixed;
  background-image: linear-gradient(16deg, #0072ff, #00c6ff);
  @include breakpoint(small down) {
  	width: 55px;
  	.sidebar__title {
  		display: none;
  	}
  	a {
  		min-height: 78px;
  		img {
  			margin-right: 30px!important;
  		}
  	}
  }
}

.sidebar__title {
	font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  padding-top: 20px;
}

.sidebar__ul {
	margin-top: 85px;
	display: flex;
	flex-direction: column;
	a {
		display: flex;
		align-items: center;
		list-style: none;
		font-size: 16px;
		padding: 15px 15px;
		font-weight: 500;
		color: #ffffff;
		span {
			@include breakpoint(small down) {
				display: none;
			}
		}
		img {
			margin-right: 15px;
		}
		&.active {
	  	background-color: rgba(0, 0, 0, 0.4);
		}
		&:hover {
	  	background-color: rgba(0, 0, 0, 0.4);
		}
	}
}

.dashboard-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: calc(100% - 261px);
	height: 70px;
  box-shadow: 0 8px 28px 0 rgba(72, 89, 102, 0.1);
  background-color: #ffffff;
  padding: 0px 70px;
	left: 261px;
	@include breakpoint(small down) {

    padding: 0px 25px;
    left: 55px;
    width: calc(100% - 55px);
	}
}

.dashboard-header__login {
	display: flex;
	align-items: center;
	img {
		margin-left: 10px;
	}
}

.dashboard-header__title {
	margin: 0;
	font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.dashboard-header__profile {
	min-width: 32px;
	height: 32px;
	border-radius: 16px;
	border: 1px solid gray;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: center;
}