/* The radio-container */
.radio-container {
  display: block;
  position: relative;
  width: 128px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmarked {
  position: absolute;
  top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
  left: 0;
  height: 44px;
  width: 105px;
  background-color: #fcfdff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  border-top: 1px solid #d3d9e5;
  border-bottom: 1px solid #d3d9e5;
  border-right: 1px solid #d3d9e5;
  color: #ffffff;
  z-index: 1;

}

.checkmarked p{
	margin: 0;
  color: #9b9b9b;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmarked {
  background-color: #2196F3;
}

.radio-container input:checked ~ .checkmarked p {
  color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmarked:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmarked:after {
  display: block;
}


.create-job__checkbox {
  display: flex;
  margin-bottom: 70px;
  .radio-container:last-child {
    span {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
  .radio-container:first-child {
    span {
      border-left: 1px solid #d3d9e5;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }
  }
}